@use '../../../styles/variables' as *;

.spinner {
  display: inline-flex;
  color: $primary-600;
  animation: spin 1s linear infinite;

  svg {
    width: 100%;
    height: 100%;
  }

  &--sm {
    width: 16px;
    height: 16px;
  }

  &--md {
    width: 24px;
    height: 24px;
  }

  &--lg {
    width: 40px;
    height: 40px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
